* {
    margin: 0;
    padding: 0;
}


/* NAVIGATION BARNAVIGATION BAR NAVIGATION BAR */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    margin-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: right;
}

#nav-bar ul li a:hover {
    color: #007bff !important;
}

.navbar {
    background-color: rgb(5, 5, 5, 0.3);
    z-index: 1;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
    z-index: 10;
}

.bord {
    border: 0.6px solid;
    border-radius: 5%;
    margin-right: 10px;
}

.bord:hover {
    color: #2a88cc;
}


/*HOME HERO*/

.top-most {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url(jobs/Rectangle.png);
}

.home-hero {
    padding-top: 15vh;
    text-align: center;
    color: #fff;
}

.hero-p {
    margin-left: 7vw;
}

.job-categories {
    margin-top: 50px;
    text-align: center;
}

.job-list {
    margin-top: 60px;
    width: 100%;
}

img {
    height: auto;
    width: 60%;
}

.job-pic {
    border: 1px solid #2a88cc;
    padding: 1vw;
    justify-items: space-around;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px #2a88cc;
}

h4 {
    max-width: 100%;
    height: auto;
}

.engage {
    margin: 50px 0;
    display: flex;
}

.subscribe {
    width: 30vw;
}

.sub-mail {
    margin-left: 4vw;
    width: 30vw;
    margin-right: 10px;
    border: 0.5px solid #2a88cc;
}

button {
    color: #fff;
    background: #2a88cc;
    width: 15vw;
    border: 0.5px solid #2a88cc;
}

.question {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: #fff;
    background-color: #2a88cc;
}

.question h5 {
    color: #fff;
}


/*FOOTER STYLES*/

.foot-cont {
    width: 100%;
    padding-top: 50px;
    color: white;
    background: #001220;
}

.row {
    margin-top: 30px;
}

.signup {
    text-align: center;
    margin-right: 80px;
    margin-top: 05px;
    color: #001220;
}


/*.remember-me {
  text-align: center;
  padding: 10px;
}

.pass {
  margin-left: 115px;
}

.box {
  display: none;
}

h4,
p {
  text-align: left;
  margin-left: 10vw;
}

.btn1 a,
.btn2 a {
  color: #fff;
}
*/

.icons {
    display: inline-block;
    margin-left: 10vw;
}

.icons a {
    color: #fff;
}

p a {
    color: #fff;
}

img .foot-logo {
    margin-bottom: 30px;
    margin: auto;
    background-color: #fff;
    margin-left: 10vw;
    max-width: 100%;
    height: auto;
}